%h2 My events
- if current_user.events.any?
  %ul.list-group
    - @user_events.each do |event|
      %li.list-group-item
        .row
          .col-xs-3
            =  image_tag(event.picture, class: "img-responsive")
          .col-xs-9
            .media-body
              %h3.media-heading
                = event.title
              .row
                .col-xs-12.col-md-6
                  .row.no-gutter
                    .col-xs-3.text-right.truncate
                      Category:
                    .col-xs-9
                      %strong
                        = event.category.name
                  .row.no-gutter
                    .col-xs-3.text-right.truncate
                      Place:
                    .col-xs-9
                      %strong
                        = event.place
                .col-xs-12.col-md-6
                  .row.no-gutter
                    .col-xs-3.text-right.truncate
                      Starts at:
                    .col-xs-9
                      %strong
                        = event.beginning_at
                  .row.no-gutter
                    .col-xs-3.text-right.truncate
                      Ends at:
                    .col-xs-9
                      %strong
                        = event.end_at
              = event.short_description
            .media-right
              = link_to "View", event_path(event), {class: "btn btn-success", role: "button"}
  .text-center
    = paginate @user_events
- else
  You have not added any event yet. 
  = link_to 'Click here', new_event_path
  to add new event
