= form_for [event] do |f|
  .form-group
    = f.label :tittle
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :place
    = f.text_field :place, class: 'form-control'
  .form-group
    = f.label :beginning
    = f.text_field :beginning, class: 'form-control'
  .form-group
    = f.label :end
    = f.text_field :end, class: 'form-control'

  = f.submit 'Save', class: 'btn btn-primary wide-button'