.col-sm-6.col-md-offset-3
  = simple_form_for @event do |f|
    = f.input :title
    = f.input :place
    = f.input :picture
    = f.label 'Begin date'
    = f.text_field :beginning_at, class: ' form-control datetimepicker'
    = f.label 'End date'
    = f.text_field :end_at, class: ' form-control datetimepicker'
    = f.button :submit
