.row
  .col-md-12
    .text-center
      = image_tag @event.picture, alt: @event.title
      %h3
        What?
        = @event.title
        %br
        %small
          Where?
          = @event.place
      %p
        When?
        %i.fa.fa-calendar
        = @event.beginning_at
        Ends?
        %i.fa.fa-calendar
        = @event.end_at
