.row
  .col-md-12
    .text-center.event-image.center-block
      .well
        = image_tag @event.picture, alt: @event.title, class: "img-rounded img-responsive"
        %h3
          %strong What?
          = @event.title
          %br
          %small
            %strong Where?
            = icon 'globe'
            = @event.place
        %p.center-block
          %strong About?
          = @event.description
        %p
          %strong When?
          = icon 'calendar'
          = @event.beginning_at
        %p
          %strong Ends?
          = icon 'calendar'
          = @event.end_at
        %p
          = link_to root_path do
            = icon 'backward'
            Back to all events
